.home-container {
  background: linear-gradient(
      rgba(0, 140, 255, 0.829),
      rgba(15, 129, 235, 0.726)
    ),
    url("https://www.shutterstock.com/image-photo/businessman-using-laptop-personal-information-600nw-2446054229.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.button-container {
  display: flex;
  gap: 2rem;
}

.create-button {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 28px;
  color: #000;
  font-weight: 500;
  transition: background-color, 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
}

.create-button:hover {
  background-color: #e4e4e4;
}
